RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [PT,L]
#RewriteRule ^(.*)$ $1 [PT,L]




RewriteRule ^index(\/.*)*$ index.php


RewriteRule ^inventory-movement(\.*)$ inventory-movement.php
RewriteRule ^bom-variances(\.*)$ bom-variances.php
RewriteRule ^inventory-status(\.*)$ inventory-status.php
RewriteRule ^project-dm(\/.*)$ project-dm.php
RewriteRule ^project(\/.*)*$ project.php

RewriteRule ^stock-receipts(\.*)$ stock-receipts.php
RewriteRule ^direct-material-issuances(\.*)$ direct-material-issuances.php
RewriteRule ^indirect-material-issuances(\.*)$ indirect-material-issuances.php
RewriteRule ^print-stock-receipts(\/.*)$ print-stock-receipts.php
RewriteRule ^check-funding(\.*)$ check-funding.php
RewriteRule ^check-print(\/.*)$ check-print.php
RewriteRule ^accounts-payable-print(\/.*)*$ accounts-payable-print.php
RewriteRule ^print-direct-issuance(\/.*)*$ print-direct-issuance.php
RewriteRule ^print-indirect-issuance(\/.*)*$ print-indirect-issuance.php