RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [PT,L]
#RewriteRule ^(.*)$ $1 [PT,L]




RewriteRule ^index(\/.*)*$ index.php



RewriteRule ^bom-variances(.*)$ bom-variances.php
RewriteRule ^inventory-status(.*)$ inventory-status.php
RewriteRule ^project(.*)$ project.php
RewriteRule ^stock-receipts(.*)$ stock-receipts.php
RewriteRule ^direct-material-issuances(.*)$ direct-material-issuances.php
RewriteRule ^indirect-material-issuances(.*)$ indirect-material-issuances.php
RewriteRule ^print-stock-receipts(.*)$ print-stock-receipts.php
RewriteRule ^check-funding(.*)$ check-funding.php
RewriteRule ^check-print(.*)$ check-print.php